/* General Styles */
.profile {
  padding: 20px 400px;
  /* Apply padding on left and right */
}

.profile h1 {
  font-size: 2.5rem;
  /* Adjusted for better visibility */
  font-weight: 500;
  text-align: center;
  margin: 50px 0;
  /* Adjusted margins for better spacing */
}

.profile h1 img {
  width: 8%;
  height: auto;
  /* Maintain aspect ratio */
  padding: 10px;
}

.profile .profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* Added gap between images */
}

.profile .profile-content img {
  width: 45%;
  /* Adjusted for better visibility */
  height: auto;
  /* Maintain aspect ratio */
  border-radius: 20px;
  padding: 10px;
}

.about,
.experience,
.clients {
  text-align: center;
  margin: 40px 0;
}

.about button,
.experience button,
.clients button {
  background-color: #edeff2;
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid #edeff2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.about h1,
.experience h1,
.clients h1 {
  font-size: 2rem;
  /* Adjusted for normal screens */
  font-weight: 500;
  padding: 20px 0;
}

.position {
  display: flex;
  flex-wrap: wrap;
  /* Adjusted for larger screens */
  justify-content: center;
  /* Centered items */
  gap: 20px;
  /* Added gap for better spacing */
  margin: 0 auto;
}

.position .position-content {
  width: 300px;
  /* Fixed width for consistency */
  text-align: center;
  padding: 20px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  /* Adjusted gap for better spacing */
  margin: 40px auto;
}

.icons .icon img {
  filter: invert(1) brightness(0);
  width: 120px;
  /* Adjusted size for larger screens */
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .profile {
    padding: 20px 300px;
    /* Adjust padding for medium screens */
  }

  .profile h1 {
    font-size: 2rem;
  }

  .profile .profile-content img {
    width: 50%;
  }

  .about h1,
  .experience h1,
  .clients h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 992px) {
  .profile {
    padding: 20px 200px;
    /* Adjust padding for smaller screens */
  }

  .profile h1 {
    font-size: 1.8rem;
  }

  .profile .profile-content img {
    width: 100%;
  }

  .about h1,
  .experience h1,
  .clients h1 {
    font-size: 1.2rem;
  }

  .position {
    margin: 100px;
  }
}

@media (max-width: 768px) {
  .profile {
    padding: 20px 10px;
    /* Adjust padding for very small screens */
  }

  .profile h1 {
    font-size: 1.5rem;
  }

  .profile .profile-content img {
    width: 100%;
  }

  .about h1,
  .experience h1,
  .clients h1 {
    font-size: 1rem;
    padding: 10px;
  }

  .position {
    flex-direction: column;
    /* margin-left: 10px;
    gap: 10px; */
  }

  .icons .icon img {
    width: 80px;
  }
}